@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

.watched-movies-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    margin-top: 10px;
}

.movie-item {
    width: 150px;
    text-align: center;
}

.movie-poster {
    width: 100%;
    height: auto;
}

html {
    --lumo-font-family: "Chewy", system-ui;
}

.movie-title {
    font-size: 30px;
    font-weight: bold;
}

.searchbar {
    margin-bottom: 10px;
}

.watchlist {
    font-size: 30px;
}

.poster-placeholder {
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    text-align: center;
    font-size: 20px;
    color: #555;
}


